$background-color: #dcdcdc;

$white: #fff;
$gray: #ababab;
$light-blue: #2090d5;

$font-color-black: #040404;
$font-color-gray: #585858;

$box-shadow-color: #20202020;
$box-shadow-color-darker: #40404040;

$table-header-color: #ebebeb;
$table-row-color: #fafafa;
$table-row-color-hover: #f4f4f4;
$table-border-color: #e4e4e4;
$table-gradient: linear-gradient(90deg, #fafafa00 0%, #fafafa 40%);
$table-gradient-hover: linear-gradient(90deg, #f4f4f400 0%, #f4f4f4 40%);

$modal-background-shadow: #3a3a3a3a