@use './variables.scss';

.table-wrapper {
	margin-left: auto;
	margin-right: auto;
	overflow-x: scroll;
	max-width: fit-content;
	border-radius: 5px;
	background-color: variables.$table-row-color;
	table {
		border-collapse: collapse;
		border-style: hidden;
		overflow: hidden;
		position: relative;
		thead {
			text-align: left;
			z-index: 100;
			position: sticky;
			top: 0;
			background-color: variables.$table-header-color;
			font-weight: bold;
			box-shadow: 0 5px 12px 5px variables.$box-shadow-color;
		}
		tbody {
			tr {
				background-color: variables.$table-row-color;
				border-bottom: 1px solid variables.$table-border-color;
				&:hover {
					background-color: variables.$table-row-color-hover;
				}
			}
		}

		th,
		td {
			height: 48px;
			white-space: nowrap;
			vertical-align: middle;
			padding: 0 0.75em;
			font-size: 1.5rem;
			transition: padding .3s;
		}
	}
}

@media (min-width: 576px) {
	.table-wrapper {
		table {
			th,
			td {
				padding: 0 1em;
			}
		}
	}
}
